New Artist Form

<ul>
  <form class="" action="/artist" method="post">
  <li> <input type="text" name="artist[name]" id="artist-name"> </li>
  <li> <input type="text" name="artist[age]" id="artist-age"> </li>
  <li> <input type="text" name="artist[bio]" id="artist-bio"> </li>
  <li> <input type="submit" value="Submit"> </li>
  </form>
</ul>
